@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #2d8b5f;
  --secondary: #498b6c;
  --secondaryWithOpacity: #498b6c94;
}

body {
  background-color: #ddd;
}

.dark {
  color: #ddd;
  background-color: #222;
}

.tableRow {
  color: white !important;
}